body {
  background-color: #f9fbfd;
  #__next {
    height: 100%;
  }
}

.card {
  border-color: #edf2f9;
  box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);
  border: 1px solid #edf2f9;
  background-color: #fff;
  border-radius: .5rem;
  padding: 20px;
  margin: 0 0 20px 0;
  h4 {
    color: #95aac9 !important;
    text-transform: uppercase;
    margin-top: 0;
  }
}

.button {
  button {
    width: 180px;
    height: 45px;
    background-color: #2d507d !important;
  }
}
